@model IEnumerable<Car>

@{
    ViewData["Title"] = "List of Cars";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xd-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540; height: 100%">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Model
                                    <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="row-md-6">
                        <img src="@item.ImageURL" width="100%" style="padding-left: 15px; padding-right: 15px; height:420px; object-fit:cover" alt="@item.CarMark" />
                    </div>
                    <div class="row-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Car Mark:</b> @item.CarMark</p>
                            <p class="card-text"><b>Start Date:</b> @item.StartDate</p>
                            <p class="card-text"><b>End Date:</b> @item.EndDate</p>
                            <p class="card-text">
                                <b>Status:</b>
                                @if (item.EndDate >= DateTime.Now)
                                {
                                    <span class="badge bg-success text-white">AVALIABLE</span>
                                }
                                else if(item.EndDate < DateTime.Now)
                                {
                                    <span class="badge bg-danger text-white">SOLD</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">COMMING SOON</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.CarId"><i class="bi bi-eye-fill"></i> Show Details</a>
                                <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

